UserProfileWebsite/UserProfileWebsite/Service References/UserProfileService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserInfoDataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserInfoDataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInfoDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoDataModel" nillable="true" type="tns:UserInfoDataModel" />
</xs:schema>