UserProfileWebsite/UserProfileWebsite/Service References/UserProfileService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserProfileDataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserProfileDataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserProfileDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="addr1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addr2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobilenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileDataModel" nillable="true" type="tns:UserProfileDataModel" />
</xs:schema>